:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

router-outlet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
