:host {
  display: block;
  width: 100%;
}

section {
  padding: var(--body-padding);

  &.forground {
    background-color: var(--Primary-OMF-White);
  }
}

nav {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;

  &.manual {
    text-align: center;
  }
}

.secure {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.privacy {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
