.popover {
  white-space: nowrap;
  z-index: 500 !important;
  animation: fadein 0.75s;
  padding: 0.25rem;
  .popover-header {
    display: none;
  }
}
.tooltip {
  color: var(--Primary-OMF-Sky);
  text-decoration: underline;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
