// Global branded styling. App specific styling should NOT go in this file
body {
  color: #484f59;
}
.p-container {
  max-width: 1280px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.p-container-fluid {
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
