:host {
  display: block;
  width: 100%;

  ::ng-deep {
    .p-dropdown {
      width: 100%;
      max-width: 320px;
      margin-bottom: 30px;
    }

    .p-dropdown-label {
      font-size: 18px;
      line-height: 25px;
      padding: 15px;
    }

    .p-dropdown-items {
      margin: 0;
      background-color: var(--body-background-color);
    }

    .p-dropdown-item {
      padding: 15px;
      font-size: 18px;
      line-height: 25px;
    }

    .p-button {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      padding: 12px 16px;
      width: 100%;
      max-width: 320px;
    }
  }
}

section {
  padding: var(--body-padding);

  &.forground {
    background-color: var(--Primary-OMF-White);
  }
}

nav {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

form {
  margin-bottom: 30px;
}

.verificationTask {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;

  app-icons {
    color: var(--Primary-OMF-Sky);
    font-size: 20px;
  }

  ::ng-deep {
    .p-card {
      box-shadow: none;
      border: 1px solid var(--Primary-OMF-Sky-Light, #e0ebf5);
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
    .p-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
