:host {
  display: block;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--body-padding);
  text-align: center;

  &.forground {
    background-color: var(--Primary-OMF-White);
  }
}

img {
  width: 143px;
  height: auto;
  margin: 0 auto 16px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
