@import 'globals/variables';
@import 'globals/mixins';

@mixin convert($list) {
  @each $name, $value in $list {
    --nts-#{$name}: #{$value};
  }
}

:root {
  --Font-Gray: #d0d5d8;
  --Primary-OMF-Black: #1f1f21;
  --Primary-OMF-Sky: #2659d9;
  --Primary-OMF-Sky-Light: #e0ebf5;
  --Primary-OMF-White: #ffffff;
  --Primary-OMF-Sun: #ffc400;

  --body-padding: 20px;
  @include convert($breakpoints);
  @include convert($colors);

  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

a {
  color: var(--Primary-OMF-Sky);
}
