:host {
  display: flex;
  align-items: center;
  background-color: var(--Primary-OMF-White);
  height: 70px;

  padding-left: var(--body-padding);
  padding-right: var(--body-padding);

  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.actionable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;

  app-icons {
    color: var(--Primary-OMF-Sky);
    font-size: 20px;
  }
}

.verified {
  display: flex;
  align-items: center;
  width: 100%;

  app-icons {
    font-size: 22px;
    margin-right: 15px;
  }
}
.label {
  display: flex;
  flex-direction: column;
  line-height: 28px;
}
.status {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--Font-Gray);
}
