:host {
  display: block;
}

img {
  width: 143px;
  height: auto;
  margin: 0 auto 16px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
