@switch (loanApiService.phoneNumberLoadingState$ | async) {
  @case (LoadingState.Loading) {
    <app-loading-spinner />
  }
  @case (LoadingState.Success) {
    <img src="assets/images/identity-verification.svg" alt="Verify your identity" />
    <h1>Verify your identity</h1>
    <p>To make sure it’s really you, we’ll send a passcode text message to your mobile phone:</p>

    <p><a (click)="routeUiService.updateOtpMethod(OtpMethod.Questions)">I don't have a mobile number</a></p>

    <p-button label="Validate" (onClick)="verifyOtp()" />
  }
  @case (LoadingState.Error) {
    <p-card>
      <h2>There was an error loading your identity verification options.</h2>
      <p>Details: {{ loanApiService.phoneNumberErrorMessage$ | async }}</p>
    </p-card>
  }
}
